/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}


.form-detail {
  margin: 10px;
  display: flex;
  
}

.title {
  font-size: 20px;
  font-weight: 600;
}
.input {
  height: 20px;
  padding: 6px  12px;
} */